@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --ff: 'PT Sans', sans-serif;
    --fw-n: 400;
    --fw-b: 700;
    --fs-p: 1rem;
    --fs-2: 3.55rem;
    --fs-3: 1.33rem;

    --bg-clr-light: #F8F8F8;
    --bg-clr-dark: #383838;
    --f-clr-light: #fff;
    --f-clr-dark: #000;

}

.page{
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    font-family: var(--ff);
}

.features{
    width: 100%;
    padding: 5rem 2rem;
    border-radius: 50px;
    margin-top: 5rem;
    overflow: hidden;
    position: relative;
}


.features_color_light{
    background-color:  var(--bg-clr-light);
    color: var(--bg-clr-dark);
}


.features_color_dark{
    background-color:  var(--bg-clr-dark);
    color: var(--bg-clr-light);
}

.features_digits{
    --col-count: 4;

}

.features_principles{
    --col-count: 5;
}


.features_title{
    width: 60%;
    margin-inline: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--ff);
    font-size: var(--fs-2);
    line-height: 1.125em;
    font-weight: var(--fw-b);
}

.features_subtitle{
    width: 60%;
    margin-inline: auto;
    text-align: center;
    font-size:  var(--fs-3);
    line-height: 1.2em;
    font-weight:  var(--fw-n);
    margin-top: 0.75em;
    margin-bottom: 0;
    font-family:  var(--ff);
}
.features-items{
    width: 100%;
    margin-top: 3rem;
    display: grid;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    column-gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(var(--col-count), 1fr);
    
    
}

.features-items_title{
    /* margin: 0; */
    padding: 0;
    font-family: var(--ff);
    font-size: var(--fs-3);
    font-weight: var(--fw-b);
    line-height: 1.15em;
}

.features-items_text{
    font-family: var(--ff);
    font-size: var(--fs-p);
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 0;
}

.features__mon{
    background-image: url("../images/moon.png");
    background-repeat: no-repeat;
    width: 340px;
    height: 340px;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    bottom: -60px;
    left: 60px;
    

}

@media (max-width: 900px){
    .features_digits{
        --col-count: 2;
    }
    .features_principles{
        --col-count: 3;
    }
}

@media (max-width: 600px){
    .features_digits{
        --col-count: 1;
    }
    .features_principles{
        --col-count: 1;
    }
}
